@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .section-link {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-bg.jpg);
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .about-customers-item {
        width: calc((100%-120px)/6);
    }
}